vrrp_script chk_haproxy {
    script "pidof haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface {{ ansible_default_ipv4.interface }}
    state {% if ansible_local.role.is_master == true %}MASTER{% else %}BACKUP{% endif %}

    priority {% if ansible_local.role.is_master == true %}101{% else %}100{% endif %}

    virtual_router_id 69
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_password }}
    }

    unicast_src_ip {{ ansible_default_ipv4.address }}
    unicast_peer {
{% for i in groups['proxy_pair'] %}
{% if hostvars[i]['inventory_hostname'] != inventory_hostname %}
        {{ hostvars[i]['ansible_default_ipv4']['address'] }}
{% endif %}
{% endfor %}
    }

    virtual_ipaddress {
        {% for var in proxy %}
        {{ var.vip }}
        {% endfor %}
    }

    track_script {
        chk_haproxy
    }
}
